.main {
  min-height: 100vh;
  padding: 128px 32px;
  display: flex;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 48px;

  flex-grow: 1;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.input {
  padding: 8px 24px;
  border: 1px solid rgba(var(--foreground-rgb), 0.2);
  border-radius: 32px;
  font-size: 1.2rem;
}

.input:focus {
  outline: none;
}

.tracks,
.result {
  display: flex;
  flex-direction: column;
  gap: 24px;

  flex-grow: 1;
}

.justifyContent {
  justify-content: center;
}

.message {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
